<template>
  <div>
    <h1>Product List Demo</h1>
    <ul>
      <li v-for="item in productionList" :key="item.id">
        {{item.name}} - {{item.money}}元
        <button @click="addCart(item)">加入购物车</button>
      </li>
    </ul>
    <hr>
    <h1>购物车列表</h1>
    <ul>
      <li v-for="item in cartList" :key="item.id">
        {{item.name}}
        <!-- <button>结算</button> -->
      </li>
    </ul>
  </div>
</template>

<script>
import { computed } from 'vue'
import { useStore } from 'vuex'
export default {
  setup() {
    const store = useStore();

    const productionList = computed(() => store.state.productionList);
    const cartList = computed(() => store.state.cartList);
    // console.log(productionList)

    const addCart = (item) => {
      console.log(item)
      store.commit('setCartList', {name: item.name, id: item.id})
    }

    return{
      productionList,
      addCart,

      cartList
    }
  }
}
</script>

<style lang="scss" scoped>
ul, li{
  list-style: none;
}
</style>