<template>
  <div>
    <div>{{ state.count }}</div>
    <button @click="plus">+</button>
    <button @click="minus">-</button>
  </div>
</template>

<script>
import { reactive } from 'vue'
export default {
  setup() {
    const state = reactive({
      count: 0
    });
    const plus = () => {
      state.count++
    }
    const minus = () => {
      state.count--
    }
    return{
      state,
      plus,
      minus
    }
  }
}
</script>

