<template>
  <div>
    <div>{{ count }}</div>
    <button @click="plus">+</button>
    <button @click="minus">-</button>
  </div>
</template>

<script>
import { ref } from 'vue'
export default {
  setup() {
    const count = ref(5);
    const plus = () => {
      count.value++
    }
    const minus = () => {
      count.value--
    }
    return{
      count,
      plus,
      minus
    }
  }
}
</script>

