<template>
  <div class="test">
    <!-- <h1>Test Page</h1> -->
    <h1>test count: {{ count }}</h1>
    <h1>count * 2 = {{ doubleCount }}</h1>
    <h1>state from vuex {{ a }}</h1>
    <button @click="add">add</button>
  </div>
</template>

<script>
import { ref, computed, watch, getCurrentInstance } from 'vue'

export default {
  name: 'Test',
  setup() {
    const count = ref(0)
    const add = () => {
      count.value++
    }
    watch(() => count.value, val => {
      console.log(`count is ${val}`)
    })
    const doubleCount = computed(() => count.value * 2)

    const { ctx } = getCurrentInstance() // 当前组件实例
    console.log(ctx.$router.currentRoute.value)

    const a = computed(() => ctx.$store.state.test.a)

    const update = () => {
      ctx.$store.commit(`setTestA`, count)
    }

    return {
      count,
      doubleCount,
      add,
      a,
      update
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.test{
  color: red;
}
</style>