<template>
  <div class="test">
    <ul>
      <li v-for="(item, index) in list" :key="index">{{item}}</li>
    </ul>
    <button @click="addItem">添加一项</button>

    <ul>
      <li v-for="(item, index) in listData" :key="index">{{item.name}}</li>
    </ul>
    <button @click="addObj">添加一项</button>
  </div>
</template>

<script>
import { getCurrentInstance } from "vue";

export default {
  name: "Test",
  setup() {
    const { ctx } = getCurrentInstance();

    let listData = [
      { name: "Javascript" },
      { name: "jQuery" },
      { name: "React" }
    ];
    const addObj = () => {
      ctx.listData.push({ name: "Angular" });
    };

    let list = ["a", "b", "c"];
    const addItem = () => {
      ctx.list.push("d");
    };

    return {
      addItem,
      list,
      addObj,
      listData
    };
  }
};
</script>

<style>
ul li {
  list-style: none;
}
</style>