<template>
  <div>
    {{state.value}}
    <br/>
    <input type="text" v-model="state.value" />
    <button @click="addItem">add</button>
    <br/>
    <input type="text" v-model="title" placeholder="请输入代办事项" />
    <button @click="addTitle">add</button>

    <ul>
      <li v-for="item in list" :key="item.id">
        {{item.title}}
        <button @click="deleteItem(item.id)">删除</button>
      </li>
    </ul>
  </div>
</template>

<script>
import { ref, getCurrentInstance, reactive } from "vue";

export default {
  setup() {

    const state = reactive({ value: '' })

    const { ctx } = getCurrentInstance();

    let title = ref('')

    let list = [
      {
        id: "id-1",
        title: "标题1"
      },
      {
        id: "id-2",
        title: "标题2"
      }
    ];

    const deleteItem = (id) => {
      ctx.list.forEach((item, index) => {
        if (item.id === id) {
          ctx.list.splice(index, 1)
        } 
      });
      console.log( ctx.list)
    }

    const addTitle = () => {
      ctx.list.push({
        id: `id-${Date.now()}`,
        title: ctx.title
      })
      ctx.title = ''
    }

    const addItem = () => {
      ctx.list.push({
        id: `id-${Date.now()}`,
        title: state.value
      })
      state.value = ''
    }

    return {
      title,
      list,

      deleteItem,
      addTitle,
      state,
      addItem
    };
  }
};
</script>

<style scoped lang="scss">
ul,li{
  list-style: none;
}
</style>