<template>
  <div>
    <input type="text" v-model="state.value" />
    <button @click="addItem">add</button>
  </div>
</template>

<script>
import { reactive, getCurrentInstance } from 'vue'

export default {
  setup() {
    const { ctx } =  getCurrentInstance();
    const state = reactive({ value: '' });

    const addItem = () => {
      ctx.$emit('add', state.value)
      state.value = ''
    }

    return{
      state,
      addItem
    }

  }
}
</script>

<style lang="scss" scoped>

</style>