<template>
	<div>
		<ul>
      <li v-for="item in list" :key="item.id">
        {{item.title}}
        <button @click="deleteItem(item.id)">删除</button>
      </li>
    </ul>
	</div>
</template>

<script>
import { getCurrentInstance } from 'vue'
export default {
  props: {
    list: Array,
  },
	setup(props) {
    console.log(props.list)
    const { ctx } = getCurrentInstance();
    const deleteItem = (id) => {
      ctx.$emit('delete', id)
    };

    return{
      deleteItem
    }
  }
}
</script>

<style lang="scss" scoped>
ul,li{
  list-style: none;
}
</style>