<template>
  <div>
    <Input @add="addHandler" />
    <List :list="list" @delete="deleteHandler" />
  </div>
</template>

<script>
import { getCurrentInstance } from 'vue'
import Input from "./Input";
import List from "./List";

export default {
  components: {
    Input,
    List
  },
  setup() {

    const { ctx } = getCurrentInstance();

    let list = [
      {
        id: "id-1",
        title: "标题1"
      },
      {
        id: "id-2",
        title: "标题2"
      },
      {
        id: "id-3",
        title: "标题3"
      }
    ];

    const addHandler = (title) => {
      ctx.list.push({
        id: `id-${Date.now()}`,
        title: title
      });
    }

    const deleteHandler = (id) => {
      // ctx.list = ctx.list.filter(item => item.id !== id); // TODO 不好使
      ctx.list.forEach((item, index) => {
        if (item.id === id) {
          ctx.list.splice(index, 1)
        } 
      });
    }

    return {
      list,

      addHandler,
      deleteHandler
    };
  }
};
</script>

<style scoped lang="scss">

</style>