<template>
	<div>
    <div>{{count}}</div>
    <button @click="plus">每次加10</button>
    <button @click="minus">每次减4</button>
	</div>
</template>

<script>
// import { getCurrentInstance } from 'vue'
import { computed } from 'vue'
import { useStore } from 'vuex'
// import { useStore, mapGetters, mapState } from 'vuex'
export default {
  setup() {
    // const { ctx } = getCurrentInstance();

    const store = useStore()

    // console.log(mapState)
    // console.log(mapGetters)

    const count = computed(() => store.state.count)
    // computed: {
    //   ...mapState({
    //     // 箭头函数可使代码更简练
    //     count: state => state.count,

    //     // 传字符串参数 'count' 等同于 `state => state.count`
    //     countAlias: 'count',

    //     // 为了能够使用 `this` 获取局部状态，必须使用常规函数
    //     countPlusLocalState (state) {
    //       return state.count + this.localCount
    //     }
    //   })
      
    // }

    const plus = () => {
      store.commit('increment', {
        amount: 10
      })
    }

    const minus = () => {
      store.commit('decrease', {
        amount: 4
      })
    }

    return{
      plus,
      minus,
      count
    }
  }
}
</script>